<h1>Your Cart</h1>
<% @cart.each do |character| %>
<p><%= @cart.collect {|item| item.to_builder.attributes!}%></p>
<% end %>
<% if @cart.present?%>
<%= button_to "Buy It!", checkout_create_path, remote: true, data: {disable_with: "validating..."} %>
<% else %>
<% end %>