<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Genshin Over It</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/recent">Updated</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hype">New Releases</a>
        </li>
      </ul>
<select name="query" class="form-select" aria-label="Default select example">
  <option selected>Filter your Search</option>
  <% @elements.each do |e|%>
  <option value="<%= e.id%>"><%=e.element%></option>
  <% end %>
  </select>
  </form>
      <form action="search" class="d-flex" role="search">
        <input name= "search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>